
.App{
    display:flex;
    flex-direction: column;
}

.header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput{
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.filterButtons button {
    margin-right: 10px; 
  }

.previousQuotes{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messages{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}