
.App{
    display:flex;
    flex-direction: column;
}

.header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quoteForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.previousQuotes{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messages{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}